form {
    width: 95%;
    max-width: 400px;
    margin: 0 auto;
  }
  
  form label {
    font-size: 1rem;
    font-weight: bold;
    display: block;
    text-align: left;
    margin: 1rem 0 0.2rem;
  }

  .error {
    padding-left: 2px;
    color: #f91f1f;
    font-size: 0.8rem;
    text-align: left;
    
    font-weight: bold;
  }

  input,
  select {
    width: 100%;
    padding: 0.65rem 0.5rem;
    font-size: 1rem;
    color: black;
    border: 2px solid #4a5568;
    background-color: #ffffff;
    border-radius: 10px;
    outline: none;
    
  }
  
  input:focus,
  select:focus {
    border-color: #4299e1;
  }
  
  input::placeholder,
  select::placeholder {
    color: #a0aec0;
  }
  
  input[type="checkbox"] {
    width: fit-content;
    margin-right: 0.5rem;
    transform: scale(1.25);
  }
  
  button {
    display: block;
    margin: 1rem 0;
    padding: 0.35rem 0.5rem;
    background-color: hsl(207, 73%, 57%);
    color: #1a202c;
    border: none;
    border-radius: 3px;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }
  button:hover{
    color: #ffffff;
    background-color: rgb(75, 144, 200);
  }
  button:disabled{
    opacity: 0.35;
  }